@font-face {
    font-family: 'larkesans';
    src: url('../fonts/Larke\ Sans\ Bold.ttf');
}

* {
    font-family: 'larkesans';
    font-size: 22px;
    /* line-height: 1; */
}

/* header styles */
header {
    background: url('../img/Group\ 499.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    font-size: 55px;
    line-height: 1;
}

.nav-item {
    margin-left: 45px;
}

.tagLine {
    font-size: 60px;
    line-height: 1;
}

.text-primary {
    color: #8F49F9 !important;
}












/* plan */
.section-title {
    font-size: 52px;
    line-height: 1;
}








/* fantasy */
.fantasy .card {
    background: url("../img/box.png");
    background-position: bottom right;
    background-size: cover;
    background-repeat: no-repeat;
}

.icon-holder {
    background: #9DE78A;
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    color: white;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    box-shadow: -10px 11px #9DE78A6E;
}




/* creative */
.btn-primary {
    border: unset;
    background-color: #8F49F9;
    color: white;
}